:root{
    --color-primary:#333;
    --color-secundary:wheat;

    --font-size:1rem;
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--color-primary);
    color:var(--color-secundary);

    font-size: var(--font-size);
}
.container > *{
    border: 1px solid var(--color-secundary);
    padding: 20px;
}

/*#region Tamaño pantallas */

/* Para móvil */
.container{
    display: grid;
    min-height: 100vh;

    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "main"
    "asideL"
    "asideR"
    "footer";
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}


/* Para tablet, Cuando el ancho mínimo es de 500 px*/
@media (min-width: 1000px){
    .container{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        /* le ponemos 2 columnas */
        grid-template-areas: 
            "header header"
            "main asideL"
            "main asideR"
            "footer footer";
    }
    .main{
        grid-area: main;
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,auto);
    }
}

/* Para pc */
@media (min-width :1500px){
    .container{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "header header header"
            "asideL main asideR"
            "asideL main asideR"
            "asideL footer footer";
    }
    .main{
        grid-area: main;
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}
/* #endregion */

/* partes del grid */

/* #region CABECERA */
.header{
    grid-area: header;
}
.header__title{
    margin:0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom:1px solid var(--color-secundary) ;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}
.button{
    text-decoration: none;
    color: var(--color-secundary);
}
.colores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
}
.colores__item{
    height: 20px;
    width: 20px;
    background-color: var(--color-secundary);
}
/* #endregion */

/* #region MAIN */

.main__imagen--img{
    width: 50%;
    min-width: 500px;
    border-radius: 20px;
    filter: sepia(10%);
}
.main__title{
    font-size: 2rem;
    border-bottom:1px solid var(--color-secundary) ;
}
.main__text{
    text-align: justify;
}

/* #endregion */

/* #region LATERALES */
.aside--left{
    grid-area: asideL;
}
.prueba{
    width: 300px;
    height: 4px;
    background-color: var(--color-secundary);
    border-radius: 2px;
}
.aside--right{
    grid-area: asideR;
}
/* #endregion */

/* #region FOOTER */
.footer{
    grid-area: footer;
}
/* #endregion */