@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=ZCOOL+QingKe+HuangYou&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'ZCOOL QingKe HuangYou', cursive; */

*{
    box-sizing: border-box;
}

body{
    margin: 0;

    font-family: 'Roboto', sans-serif;

    /* Patrón generado por https://superdesigner.co/tools/css-backgrounds */
    background: repeating-linear-gradient(90deg, #efefe3 0, #efefe3 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #efefe3 0, #efefe3 5%, transparent 0, transparent 50%);
    background-size: 2em 2em;
    background-color: #ffb7b2;

    display:flex;
    min-height: 100vh;
}

.form{
    background-color: #efefe3;
    margin: auto;

    /* Ocupará el 90%, pero que ese 90% no sea mayor de 400px */
    width: 90%;
    max-width: 400px;

    padding: 4.5em 3em;
    border-radius: 10px;
    /* Una nueva manera de agregar colores, los 3 valores sin comas y la opacidad separada por una '/' */
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 70%);
    text-align: center;
}

.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form__paragraph{
    /* La propiedad font-weight de CSS especifica el peso o grueso de la letra */
    font-weight: 300;
}
.form__link{
    font-weight: 400;
    color: #333;
}

/* El contenedor de los imputs */
.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color:#5757577e;
}


