:root{
    /* --color-primario:#e7e7e7; #333*/
    --primary-color:hsl(214, 84%, 56%);
    --text-color:hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);

    --border-radius:0.4em;

    /* para la transición de cambios de colores y modo */
    --transition: color 0.1s, background-color 0.25s ease-in-out;
}

*{
    box-sizing: border-box;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

img{
    /* Evitamos que la imagen desborde a su contenedor */
    max-width: 100%;
    display: block;
}

body{
    margin: 0;

    background-color: var(--bg-color);
    color:var(--text-color);
    font-family: sans-serif;

    transition: var(--transition);
}

/* Los estílos cuando esté en modo oscuro, cuando el body tenga la clase dark*/
body.dark{
    /* Este cambio de la clase de body, lo haremos a través de js */
    --text-color:hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}


/* #region CABECERA */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);

    transition: var(--transition);
}
/* ------------ Modo Claro-Oscuro ------------------ */
.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
}
.toggle-theme__text{
    font-size: 0.8rem;
}

/* ------------ Colores ------------------ */
.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 20px;
    width: 100px;

}
.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}
/* Indicamos el color primario según el modificador, así coloreamos cada recuadro
el cual vemos que tiene de Background color el --primary-color */
.colors__item--blue{
    --primary-color:hsl(214, 84%, 56%);
}
.colors__item--green{
    --primary-color:hsl(150, 84%, 56%);
}
.colors__item--purple{
    --primary-color:hsl(276, 84%, 56%);
}
.colors__item--orange{
    --primary-color:hsl(46, 84%, 56%);
}

/* #endregion */

/* ============================MAIN================================ */

.main{
    display: grid;
    padding: 2em;
}
@media screen and (min-width: 720px){
    .main{
        /* La columna de la izq, el mínicmo tamaño para que entre el contenido, y la segunda
        el resto */
        grid-template-columns: min-content 1fr;
    }
}
.card{
    padding: 1em;
    background-color: var(--bg-card-color);

    border-radius: var(--border-radius);
}
.card__image-container{
    /* El móvil más pequeño */
    min-width: 320px;
    border-radius: var(--border-radius);
    /* Las esquinas de la imagen desbordan al contenedor, por eso ponemos el overflow
    Eso nos arregla las imágenes de arriba, pero abajo no, esto es por como se comportan las imágenes
    en el navegador, que es inline-block, y eso lo genera como un borde fantasma
    Lo arreglamos poniendo a la img display:block.*/
    overflow: hidden;
}

.card__header{
    padding: 1em 0;
}
.card__title{
    margin: 0;
    font-size: 1.2rem;
}
.card__subtitle{
    font:0.9rem;
    opacity: 0.8rem;
}
.card__link{
    margin-bottom: 0.5em;
}
.card__text{
    font-size: 0.9rem;
    line-height: 1.6;
}
.icon{
    margin-right: 1em;
}
