:root{
    /* --color-primario:#e7e7e7; #333*/
    --primary-color:hsl(214, 84%, 56%);
    --text-color:hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);

    --border-radius:0.4em;

    /* para la transición de cambios de colores y modo */
    --transition: color 0.1s, background-color 0.25s ease-in-out;

    /* Para controlar el tamaño de las barras de las skills */
    --skills-bar-length: 0%;
}

*{
    box-sizing: border-box;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

img{
    /* Evitamos que la imagen desborde a su contenedor */
    max-width: 100%;
    display: block;
}

body{
    margin: 0;

    background-color: var(--bg-color);
    color:var(--text-color);
    font-family: sans-serif;

    transition: var(--transition);
}

/* Los estílos cuando esté en modo oscuro, cuando el body tenga la clase dark*/
body.dark{
    /* Este cambio de la clase de body, lo haremos a través de js */
    --text-color:hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}


/* #region CABECERA */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);

    transition: var(--transition);
}
/* ------------ Modo Claro-Oscuro ------------------ */
.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
}
.toggle-theme__text{
    font-size: 0.8rem;
}

/* ------------ Colores ------------------ */
.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 20px;
    width: 100px;

}
.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}
/* Indicamos el color primario según el modificador, así coloreamos cada recuadro
el cual vemos que tiene de Background color el --primary-color */
.colors__item--blue{
    --primary-color:hsl(214, 84%, 56%);
}
.colors__item--green{
    --primary-color:hsl(150, 84%, 56%);
}
.colors__item--purple{
    --primary-color:hsl(276, 84%, 56%);
}
.colors__item--orange{
    --primary-color:hsl(46, 84%, 56%);
}

/* #endregion */

/* #region MAIN */

.main{
    display: grid;
    padding: 2em;
    gap:0.5em;
}


@media screen and (min-width: 720px){
    .main{
        /* La columna de la izq, el mínicmo tamaño para que entre el contenido, y la segunda
        el resto */
        grid-template-columns: min-content 1fr;
    }
}

/* Estilos comunes del column */
.column{
    display: grid;
    gap: 0.5em;
}
@media screen and (min-width: 720px){
    .column--right{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content) 1fr;
    }
}

.card{
    padding: 1em;
    background-color: var(--bg-card-color);

    border-radius: var(--border-radius);
}
.card__image-container{
    /* El móvil más pequeño */
    min-width: 320px;
    border-radius: var(--border-radius);
    /* Las esquinas de la imagen desbordan al contenedor, por eso ponemos el overflow
    Eso nos arregla las imágenes de arriba, pero abajo no, esto es por como se comportan las imágenes
    en el navegador, que es inline-block, y eso lo genera como un borde fantasma
    Lo arreglamos poniendo a la img display:block.*/
    overflow: hidden;
}

.card__header{
    padding: 1em 0;
}
.card__title{
    margin: 0;
    font-size: 1.2rem;
}
.card__subtitle{
    font:0.9rem;
    opacity: 0.8rem;
}
.card__link{
    margin-bottom: 0.5em;
}
.card__text{
    font-size: 0.9rem;
    line-height: 1.6;
}

/* #region SKILLS */
.skills{
    padding: 1em 0;
}
.skills__header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}
.skills__tech{
    /* Le quitamos el margen por defecto a los párrafos */
    margin: 0;
    font-size: 0.8rem;
}
.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.skills__bar,.skills__bar::after{
    /* La barra de progreso, necesitamos ponerla en relative, para que 
    el progreso se ponga con referencia a este */
    position: relative;

    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 2em;
}
.skills__bar::after{
    /* el progreso, content, necesario para que se dibuje */
    content: "";
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 2s ease-in-out forwards;

}
/* Hacemos esto, por cada una de las skills.con sus % correspondientes */
.skills__bar--70::after{
    /* Lo que hacemos con esto es que, la barra que teniamos al principio del progress bar, la trasladamos
    hacia la derecha un tanto por ciento, y el resto de la barra, la ocultamos con un hidden en el overflow */
    --skills-bar-length: 70%;
}
.skills__bar--50::after{
    --skills-bar-length: 50%;
}
.skills__bar--60::after{
    --skills-bar-length: 60%;
}

.icon{
    margin-right: 1em;
}

@keyframes skills-bar-fill{
    to{
        transform: translateX(var(--skills-bar-length));
    }
}
/* #endregion */

/* #endregion */

/* otros */