@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: cadetblue;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#linea1, #linea2, #linea3{
    background-color: cornsilk;
    height: 8px;
    width: 80px;
    border-radius: 20px;
    margin-top: 15px;
}

@keyframes juntarLineas {
    100%{
        margin-top: -8px;
    }
}
@keyframes rotar {
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes rotarcontrario {
    100%{
        transform: rotate(45deg);
    }
}
