@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
}

.cabecera{
    
    /* posicionamiento */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    /* box-model */
    width: 100%;
    height:70%;
    /* text */
    
    /*visuales*/
    background-color: var(--color-primary);
    
    /* El resto */
    
}
.texto{
    margin: 0;
    color: var(--color-primary);
    text-shadow: 0.2rem 0.2rem 0.1rem var(--color-secondary),-0.2rem -0.2rem 0.1rem white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.titulo{
    font-size: 15rem;
    
}
.pinyin{
    font-size: 3rem;
}
.ingles{
    letter-spacing: 0.3rem;
    font-size: 2rem;
}


/* CUERPO */
.main{

    background-color: var(--color-secondary);
    height: 30%;
}

.imagen{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -30%);

    overflow: hidden;
    border: var(--color-primary) 7px solid;

    background-color: var(--color-secondary);
    width: 30rem;
    height: 15rem;
}

.imagen-img{
    transform: translateX(-100px);
}

:root{
    --color-primary:#ede7e7;
    --color-secondary:#c4bfb9;
    --color-terciary:#c09a85;
    --color-focus:#5f5e66;
}