*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #aaaad3;
    background-image:  linear-gradient(#f0dbf0 1px, transparent 1px), linear-gradient(to right, #f0dbf0 1px, #aaaad3 1px);
    background-size: 20px 20px;
}

.container{
    background-color: #F0DBF0;
    opacity: 90%;
    width: max-content;
    padding: 40px;
    border-radius: 10px;
    margin: 100px auto;
}
ul{
    /* Para quitar el espacio del punto de la lista */
    padding-left:0;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
li>p,li>button{
    margin: 0;
    color: #aaaad3;
}
.btn--delete,.btn{
    
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.btn--delete{
    border: none;
    padding: 4px;
    text-align: center;

    background-color: aliceblue;
}
li:hover{
    border-bottom: #aaaad3 solid 2px;
}

.title{
    color: #aaaad3;
}
.empty{
    color: #aaaad3;
}
.input{
    border: none;
    height: 25px;
}
.btn{
    border: none;
    background-color: #aaaad3;
}